body {
  background-color: #484655;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #484655;
}

.mainContainer {
  max-width: 1440px;
  width: 100%;
  font-size: 24px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
