@keyframes fallingStars {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh);
    opacity: 0;
  }
}

@keyframes fallingStarsVertical {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.stars {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px white;
  border-radius: 50%;
  opacity: 0;
}

.stars:nth-child(1) {
  top: 10%;
  left: 5%;
  animation: fallingStars 10s linear infinite;
  animation-delay: 1s;
}

.stars:nth-child(2) {
  top: 20%;
  left: 80%;
  animation: fallingStars 12s linear infinite;
  animation-delay: 2s;
}

.stars:nth-child(3) {
  top: 50%;
  left: 30%;
  animation: fallingStars 14s linear infinite;
  animation-delay: 3s;
}

.stars:nth-child(4) {
  top: 70%;
  left: 50%;
  animation: fallingStarsVertical 16s linear infinite;
  animation-delay: 4s;
}

.stars:nth-child(5) {
  top: 40%;
  left: 60%;
  animation: fallingStarsVertical 18s linear infinite;
  animation-delay: 5s;
}
